<ion-view title='<img class="title-image" src="img/shareaLogoHeader.jpg" />'>
	<ion-nav-bar class="bar-balanced navbarLogo">


	</ion-nav-bar>
	<ion-content padding="true" class="has-header">
		<ion-pane>

			<!--<button class="button button-positive  button-block">{{numberOfSubs}}</button>

      <div>
        <img src="img/Suggestion.gif" class="animation">
      </div>-->

			<td-cards>


				<td-card ng ng-repeat="card in cards" on-destroy="cardDestroyed($index);" on-partial-swipe="cardPartialSwipe(amt)" on-swipe-left="saveLastCard($index); CancelRide();"
					on-swipe-right="cardSwiped(myUserId,card._id); AcceptRide();">
					<div>
						<div class="no-text" ><span class="icon ion-close-round"></span></div>
						<div class="yes-text" ><span class="icon ion-checkmark-round"></span></div>

						<div class="gradient">
							<h3 class="timerheading" id="timerid">{{date}}</h3>
						</div>
             
						<svg xmlns="http://www.w3.org/2000/svg" height="235" class="svgCard">
							<circle cx="152" cy="105" r="5" stroke="#59c0be" stroke-width="4" fill="white" />
							<text x="105" y="57" font-family: 'Fredoka One'; font-size="15px" fill="#e97269 " alignment-baseline="central">{{card.departure.properties.name}} KA</text>
							<text x="125" y="74" font-family: 'Fredoka One'; font-size="12px" fill="#59c0be" alignment-baseline="central">Destination {{card._id}}</text>
							<text x="112" y="87" font-family: 'Fredoka One';font-size="9px" fill="#bcc9d5 " alignment-baseline="central">Pick up: KA hbf</text>

							<line x1="152" y1="108" x2="152" y2="110" style="stroke:#59c0be ;stroke-width:3" />
							<line x1="152" y1="112" x2="152" y2="115" style="stroke:#59c0be ;stroke-width:3" />
							<line x1="152" y1="117" x2="152" y2="121" style="stroke:#59c0be ;stroke-width:3" />
							<line x1="152" y1="123" x2="152" y2="131" style="stroke:#59c0be ;stroke-width:3" />
							<line x1="152" y1="133" x2="152" y2="149" style="stroke:#59c0be ;stroke-width:3" />
							<line x1="152" y1="151" x2="152" y2="183" style="stroke:#59c0be ;stroke-width:3" />
							<!--   <circle cx="152" cy="165" r="10" fill="#59c0be  " />-->

							<polygon fill="none" stroke="#59c0be" stroke-width="3" points="152,196 145,183 160,183" />
							<text x="100" y="205" alignment-baseline="central" font-family: 'Fredoka One'; font-size="15px" fill="#e97269">{{card.destiny.properties.name}} & GAD</text>
							<text x="125" y="218" alignment-baseline="central" font-family: 'Fredoka One'; font-size="12px" fill="#59c0be">Karlsruhe</text>
							<text x="112" y="230" alignment-baseline="central" font-family: 'Fredoka One'; font-size="9px" fill="#bcc9d5">Drop off: Dieselstraße</text>

							<polygon>

						</svg>
						<div class="row attendeeList">
							<div ng-repeat="user in users track by $index" class="col-20">
								<img src="img/{{user.src}}" class="thumbnailAt AtendeeAccept" ng-click="alertMe()">
							</div>

							<!--<div class="col-20 col-offset-10"><img src="img/ivana.jpg" class="thumbnailAt AtendeeAccept" >Ivana </div>
              <div class="col-20"><img src="img/ines.jpg" class="thumbnailAt AtendeeAccept"> Ines </div>
              <div class="col-20"><img src="img/salazar.jpg" class="thumbnailAt AttendeeCancel"> Javier </div>
                collection-repeat="user in users"

              <div class="col-20"><img src="img/tala.jpg" class="thumbnailAt AtendeeAccept" ng-click="showProfile()" ng-controller="JoinEventCtrl">Tala</div>-->
						</div>
						<!-- <button class="button button-positive  button-block btn2">Cancel</button>-->
					</div>
				</td-card>
			</td-cards>

			<div class="round-button">
				<div class="round-button-circle" style="  background-image: url('img/arrow.png');" ng-click="goBack()">

				</div>


		</ion-pane>

	</ion-content>


	<!--  <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">New Contact</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">First Name</span>
              <input ng-model="newUser.firstName" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Last Name</span>
              <input ng-model="newUser.lastName" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input ng-model="newUser.email" type="text">
            </label>
            <button class="button button-full button-positive" ng-click="createContact(newUser)">Create</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script> -->
</ion-view>