
<ion view>
	<ion-view title='<img class="title-image" src="img/shareaLogoHeader.jpg" />' class="animated bounceInUp">
		<ion-nav-bar class="bar-balanced navbarLogo">
		</ion-nav-bar>
		<ion-content padding="true" class="">

			<!--
    <div class="row">

      <div class="col">
        <div class="tile tile-logo-bar balanced-bg">
          <div ng-click="toggleRight()" class="float-right tile-nav-bar">
            <i class="ion-navicon-round"></i>
          </div>
        </div>
      </div>
    </div>-->

			<div class="row">
				<!--taxi tab-->

				<div class="col">

					<div id="" ng-click="goToCards('taxi');" class="tile tile-double  tile-image" style="background-image:url(img/taxi.png); ">

						<h5 class="styledTiles">Taxi</h5>
					</div>

				</div>

				<div class="col">
					<div class="tile tile-double  tile-image" style="background-image: url('img/restaurant.png');background-color:#e6e6e6;">
						<h5 class="styledTiles">Restaurant</h5>
					</div>

				</div>
			</div>

			<!--second row-->
			<div class="row">

				<div class="col">
					<div id="" class="tile tile-double  tile-image" style="background-image: url('img/office.png');background-color:#e6e6e6;">
						<h5 class="styledTiles">Office</h5>
					</div>

				</div>

				<div class="col">
					<div class="tile tile-double  tile-image" style="background-image: url('img/book.png');background-color:#e6e6e6;">
						<h5 class="styledTiles">Book</h5>
					</div>

				</div>
			</div>
			<!--third row"-->
			<div class="row">
				<div class="col">
					<div id="" class="tile tile-double  tile-image" style="background-image: url('img/eldevices.png');background-color:#e6e6e6;">
						<h5 class="styledTiles">Devices</h5>
					</div>
				</div>
				<div class="col">
					<div class="tile tile-double tile-image" style="background-image: url('img/event.png');background-color:#e6e6e6;">
						<h5 class="styledTiles">Event</h5>
					</div>
				</div>
			</div>

		</ion-content>
	</ion-view>